<div class="am-tab tab-main show" id="tab_main">
    <ul>
        <li class="am-clickable selected">
            <a href="/index.php/index/wxmbs/serverlist">
                <p class="e"></p>
                <span>预约</span>
                <div class="num redDot"></div>
                <div class="line"></div>
            </a>
        </li>

        <li class="am-clickable">
            <a href="">
                <p class="b"></p>
                <span>活动</span>
                <div class="line"></div>
                <div class="num redDot"></div>
            </a>
        </li>
        <li class="am-clickable">
            <a href="">
                <p class="c"></p>
                <span>苗博士草本科技祛斑</span>
                <div class="line"></div>
            </a>
        </li>
        <li class="am-clickable">
            <a href="">
                <p class="a"></p>
                <span>咨询</span>
                <div class="line"></div>
                <div class="num redDot"></div>
            </a>
        </li>
        <li class="am-clickable">
            <a href="/index.php/index/wxmbs/cusinfo">
                <p class="d"></p>
                <span>我的</span>
                <div class="line"></div>
            </a>
        </li>
    </ul>
</div>
