<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/public/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/static/lib/font-awesome/css/font-awesome.css">

    <script src="/public/static/lib/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/public/static/layer/layer.js"></script>


    <link rel="stylesheet" type="text/css" href="/public/static/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="/public/static/stylesheets/premium.css">
    <link rel="stylesheet" type="text/css" href="/public/static/stylesheets/mbscom.css">
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}commonindex.css">
</head>
<body class=" theme-blue">

<!-- Demo page code -->

<script type="text/javascript">
    $(function() {
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if(match) var color = match[1];
        if(color) {
            $('body').removeClass(function (index, css) {
                return (css.match (/\btheme-\S+/g) || []).join(' ')
            })
            $('body').addClass('theme-' + color);
        }

        $('[data-popover="true"]').popover({html: true});

    });
</script>
<script type="text/javascript">
    $(function() {
        var uls = $('.sidebar-nav > ul > *').clone();
        uls.addClass('visible-xs');
        $('#main-menu').append(uls.clone());
    });
</script>

<!--Use of these features requires a premium license.-->
<!--See http://www.portnine.com/bootstrap-themes for details.-->
<!--After purchasing a premium license, the full source code will be available for download.-->

{include file="template/sidebar.html"}
<div class="content">
    {include file="template/navbar.html"}
    <div class="main-content">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div style="background: #e5e5e5 ;">
                    <div class="add_user" onclick="openedit();" style="float:right;cursor:pointer;font-size: 25px;width: 35px;height: 35px;margin-right:15px;line-height: 40px;text-align: center;margin-bottom: 2px">+</div>
                    <h1 class="page">功能列表</h1>
                </div>
                <table class="dataintable">
                    <thead>
                    <tr>
                        <th style="width: 50px;">#</th>
                        <th>名称</th>
                        <th>URL</th>
                        <th>所属模块</th>
<!--                        <th>所属菜单</th>-->
                        <th>是否显示</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $menulist as $k }
                    <tr>
                        <td>{$k.menu_id}</td>
                        <td>{$k.menu_name}</td>
                        <td>{$k.menu_url}</td>
                        <td>{$k.module_name}</td>
<!--                        <td>{$k.fname}</td>-->
                        <td style="text-align: center">{if condition="$k.is_show==1"}是{else /}否{/if}</td>
                        <td>{$k.menu_desc}</td>
                        <td><a href="javascript:void(0)" attrid="{$k.menu_id}" onclick="openedit(this);"
                               data-toggle="modal"
                               class="padding-right-small"><i class="fa fa-pencil "></i> 修改</a></td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function openedit(e) {
        var id = parseInt($(e).attr('attrid'));
        layer.ready(function () {
            layer.open({
                type: 2,
                title: '编辑部门',
                maxmin: true,
                area: ['35%', '50%'],
                content: '/index.php/index/pannel/editpannel?id='+id
            });
        });
    }

    function deleteuser(e) {
        var id = parseInt($(e).attr('attrid'));
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg) == true) {
            $.ajax({
                url: '/index.php/index/user/delete',// 获取自己系统后台用户信息接口
                data: {"uid": id},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        var data = JSON.parse(data);
                        if (data.code == "200") { //判断返回值，这里根据的业务内容可做调整
                            $(e).removeAttr('disabled');
                            window.location.reload();
                        } else {
                            alert(data.msg);
                            $(e).removeAttr('disabled');
                            return false;
                        }
                    }
                },
                error: function (data) {
                    $(e).removeAttr('disabled');
                    console.log(data.message);
                }
            });
        } else {
            return false;
        }


    }
</script>
{include file="template/footer.html"}