<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/public/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/static/lib/font-awesome/css/font-awesome.css">

    <script src="/public/static/lib/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/public/static/layer/layer.js"></script>


    <link rel="stylesheet" type="text/css" href="/public/static/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="/public/static/stylesheets/premium.css">
    <link rel="stylesheet" type="text/css" href="/public/static/stylesheets/mbscom.css">

</head>
<body class=" theme-blue">


<!--Use of these features requires a premium license.-->
<!--See http://www.portnine.com/bootstrap-themes for details.-->
<!--After purchasing a premium license, the full source code will be available for download.-->


{include file="template/navbar.html"}
{include file="template/sidebar.html"}
<div class="content">
    <div class="main-content">
        <h1 class="page">用户列表</h1>
        <h3 class="page-tagline"></h3>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <div class="add_user" onclick="openedit();" style="cursor:pointer;font-size: 25px;width: 35px;height: 35px;background: #ccc;line-height: 35px;text-align: center;margin-bottom: 2px">+</div>

                <table class="dataintable table">
                    <thead>
                      <tr>
                        <th style="width: 50px;"></th>
                        <th>姓名</th>
                        <th>职位</th>
                        <th>电话</th>
                        <th>Messages</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $userlist as $k }
                    <tr>
                        <td></td>
                        <td>{$k.name}<span class="text-sm" style="margin-left: 10px"> <a href="javascript:void(0)" attrid="{$k.id}" onclick="openedit(this);"
                                                                       data-toggle="modal"
                                                                       class="padding-right-small"><i
                                class="fa fa-pencil "></i> Edit</a> <a
                                href="javascript:void(0)" attrid="{$k.id}" onclick="deleteuser(this);"
                                data-toggle="modal"><i class="fa fa-trash-o "></i> Delete</a></span></td>
                        <td>{$k.job_name}</td>
                        <td>{$k.phone}</td>
                        <td><i class="fa fa-bell text-danger"></i>4 messages
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function openedit(e) {
        var id = parseInt($(e).attr('attrid'));
        layer.ready(function () {
            layer.open({
                type: 2,
                title: '编辑用户',
                maxmin: true,
                area: ['50%', '65%'],
                content: '/index.php/index/user/edituser?id='+id
            });
        });
    }

    function deleteuser(e) {
        var id = parseInt($(e).attr('attrid'));
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg) == true) {
            $.ajax({
                url: '/index.php/index/user/delete',// 获取自己系统后台用户信息接口
                data: {"uid": id},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        var data = JSON.parse(data);
                        if (data.code == "200") { //判断返回值，这里根据的业务内容可做调整
                            $(e).removeAttr('disabled');
                            window.location.reload();
                        } else {
                            alert(data.msg);
                            $(e).removeAttr('disabled');
                            return false;
                        }
                    }
                },
                error: function (data) {
                    $(e).removeAttr('disabled');
                    console.log(data.message);
                }
            });
        } else {
            return false;
        }


    }
</script>
{include file="template/footer.html"}